.ant-table-thead > tr > th {
  background-color: white !important;
}

@media (max-width: 576px) {
  .ant-dropdown {
    overflow-x: auto;
    max-width: 200px;
  }
}

.ant-tooltip {
  z-index: 9999999999;
}