.c-legend
  font-size 0.8rem
  ul
    padding-left 0
  &__item
    list-style none
    &__col
      width 20px
      height 20px
      display inline-block
    &__label
      display inline-block
      width 150px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      margin-right 20px