.c-legendWrap 
  +lg()  
    &--flex 
      width 80% !important
      margin auto 
      .c-legend
        &__title 
          display none
        &__list
          display flex 
          flex-wrap wrap
          justify-content center
        .c-legend__item
          //flex-grow 1
          margin-right 5%
          &__label 
            flex-grow inherit 
            width auto
