.c-logCard
  border solid 3px transparent
  margin 10px
  cursor pointer
  width 25%
  max-width 320px
  word-break break-all
  +md-max()
    width 100%
    margin 0
    
  &.is-highlighted
    border-color $col-hover-blue
  &:hover
    background-color #fffbfb

  .slick-slider 
    height 95%
  .ant
    &-carousel
      height 90%
    &-card
      &-head-title 
        padding-top 20px

      &-body
        height 90%