.c-login
  background-color #d0f4fc
  border 1px solid #9eeaf9
  border-radius 10px
  color #085464
  margin 1rem
  padding 1rem
  &__txt
    font-weight lighter
    border-bottom 1px solid #9eeaf9
    padding-bottom 1rem
  &__head
    font-size 2.5rem
  &__btn
    background-color #2074d4
    font-size large
    color white
    font-family inherit
    padding-top .75rem
    padding-bottom .75rem
    font-weight bolder
    cursor pointer
    border-radius 7px
    box-shadow none
    display inline-block
    margin-left 1rem