.c-login
  background-color $col-foam
  border 1px solid $col-charlotte
  border-radius 10px
  color $col-deep-green
  margin 1rem
  padding 1rem
  &.alert-danger
    .c-login__txt
      border-color $col-blush
  &__txt
    font-weight lighter
    border-bottom 1px solid $col-charlotte
    padding-bottom 1rem
  &__head
    font-size 2.5rem
  &__btn
    background-color $col-mariner
    border solid 1px $col-mariner
    font-size large
    color white
    font-family inherit
    padding-top .75rem
    padding-bottom .75rem
    font-weight bolder
    cursor pointer
    border-radius 7px
    box-shadow none
    display inline-block
    margin-left 1rem
    &:hover
      background-color darken($col-mariner, 10)