.c-logout
  display flex
  justify-content center
  align-items center
  &__btn
    background-color inherit
    color white
    border none
    outline none
    border-radius 0.25rem
    padding-top .5rem
    padding-bottom .5rem
    &:hover
      background-color #d4e6f1
      color #454a63
