.c-nav
  background-color $col-nav-bg
  color white
  &__imgWrap
    display inline-block
    +sm()
      padding-top 5px
    img
      max-width 150px
  &__title
    width 75%
    display inline-block
    margin-left 15%
    text-align center
    +md-max()
      margin-left 5%
      font-size 1.2rem
    +sm()
      display block
      font-size 12px
      text-align left
      margin-left 45px

  &__auth
    text-align right
    .navbar-nav
      width 100%
    .c-logout
      width 100%
      display inline-block

  &--sider
    &.ant-layout-sider-collapsed
      .c-nav
        &__imgWrap
          img
            max-width 60px
    .c-nav
      &__brand
        text-align center
        margin 1em 0
      &__title
        display block
        font-size 1.1rem
        margin auto
      &__siderTrigger
        position absolute
        right 0

    .ant-menu
      background-color $col-nav-bg
      &-submenu
        .ant-menu
          background-color $col-subnav-bg !important

      &-item-selected
        &.export
          background-color inherit 
          color inherit

.ant-menu-sub
  background-color $col-subnav-bg !important