.c-sankey
  min-height 100vh
  react-consortia-sankey
    width 100%
    display block
    height 100%

  &__node
    cursor pointer
    &:hover
      .c-sankey
        &__value
          fill white

    &--default
      cursor default
      &:hover
        .c-sankey
          &__value
            fill black