.c-sankey
  min-height 100vh
  width 100%
  overflow-x auto
  react-consortia-sankey
    width 100%
    display block
    height 100%

  &__node 
    &--hide
      &:hover 
        svg 
          fill #495057 !important
      svg
        fill #cbcbcb !important
        