.c-table
  &__title
    font-size 2rem
    font-weight 700

  &__btns
    +md-max()
      width 90%

  &--data
    background-color white
    border-radius 8px
    margin-top 2rem

  &--upload
    margin-top -3rem
    position relative
    bottom 2rem
    z-index 0
