.c-visualizations
  container()
  &__dropdownContainer
    display flex
  &__columnDropdown
    border-bottom-right-radius 0
    border-top-right-radius 0
  &__chartDropdown
    border-bottom-left-radius 0
    border-top-left-radius 0
  &__tooltip
    background-color white
    border solid $col-trout 1px
    position absolute
    border-radius 5px
    padding 5px
    z-index 1000
    font-size 12px
    width max-content
  &__chart
    overflow-x auto
    position relative
    circle 
      cursor pointer
  &__miniCharts
    .c-visualizations__chart 
      overflow-x inherit
    svg 
      max-width 100%
      height auto