# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore emacs backup files
*~

# Ignore generated BUILD file
BUILD

# Docker copied stuff
docker/data-ingest-board/src

# log files in any path
**/*.log

# Rotated log files
**/*.log*

# UI react-app
src/node_modules
src/.pnp
src/.pnp.js
src/package-lock.json
src/package-lock.json

# testing
src/react-app/coverage

# env files
src/.env.*
src/.env

# nextjs
src/.next
src/out

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


