# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore emacs backup files
*~

# Ignore generated BUILD file
BUILD

# Ignore docker copied files/folders
hubmap-docker/data-ingest-board/BUILD
hubmap-docker/data-ingest-board/VERSION
hubmap-docker/data-ingest-board/src
hubmap-docker/data-ingest-board/log

sennet-docker/data-ingest-board/BUILD
sennet-docker/data-ingest-board/VERSION
sennet-docker/data-ingest-board/src
sennet-docker/data-ingest-board/log

# log files in any path
**/*.log

# Rotated log files
**/*.log*

# UI react-app
src/node_modules
src/.pnp
src/.pnp.js
src/package-lock.json
src/package-lock.json

# testing
src/react-app/coverage

# env files
src/.env.*
src/.env

# nextjs
src/.next
src/out

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea

# IDE Files
.vscode*

# Banner config
src/public/content/banners/index.json