.DataTable {
    background-color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    margin-top: 2rem;
    border-radius: 8px;
    margin-left: 7rem;
    margin-right: 7rem;
}

.ButtonContainer {
    text-align: center;
}

.Button {
    margin-bottom: 1rem;
    font-family: inherit;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 24rem;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: none;
}

.Table {

}

.CurrentEntity {
    font-size: 2rem;
    font-weight: 700;

}

.Clear {
    border-color: lightblue;
    background-color: white;
    color: #2074d4;
    margin-left: 1rem;
    display: inline-block;
}

.Switch {
    background-color: #2074d4;
    color: white;
    display: inline-block;
}