body {
  background-color: #ebebeb;
}

.ant-table-thead > tr > th {
  background-color: white !important;
}

.DataTable {
    background-color: white;
    /*padding-left: 4rem;*/
    /*padding-right: 4rem;*/
    /*padding-top: 1rem;*/
    /*margin-top: 2rem;*/
    /*margin-left: 7rem;*/
    /*margin-right: 7rem;*/
    border-radius: 8px;

}

.ButtonContainer {
    /*text-align: center;*/
}

.Button {
    margin: 1rem;
    font-family: inherit;
    padding-top: .75rem;
    padding-bottom: .75rem;
    /*width: 24rem;*/
    font-weight: bolder;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: none;
    display: inline-block;

}

.Table {

}

.CurrentEntity {
    font-size: 2rem;
    font-weight: 700;

}

.Clear {
    border-color: lightblue;
    background-color: white;
    color: #2074d4;
    /*margin-left: 1rem;*/
}

.Switch {
    background-color: #2074d4;
    color: white;
}

.App {
    background-color: #ebebeb;
    /*margin: 1rem 5rem;*/
    /*margin: 1vh 2vw;*/
}

.Banner {
    background-color: #454a63;
    color: white;
    /*display: flex;*/
    /*align-items: center;*/
    /*position: relative;*/
    /*margin: -1rem -6rem;*/
    /*!*padding-left: 13rem;*!*/
    /*!*padding-right: 13rem;*!*/
}

.Title {
    /*text-align: center;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

.Logo {
    object-fit: contain;
}

.DataTable {
    margin: 2rem;
}

.LoginBox {
    background-color: #d0f4fc;
    /*margin-right: 7rem;*/
    /*margin-left: 7rem;*/
    /*margin-top: 2rem;*/
    /*padding: .5rem 1rem;*/
    border-radius: 10px;
    color: #085464;
}

.LoginHeader {
    font-size: 2.5rem;
}