body {
    background-color: #ebebeb !important;
    margin-bottom: 2rem;
}

.ant-table-thead > tr > th {
  background-color: white !important;
}

.DataTable {
    background-color: white;
    border-radius: 8px;
    margin-top: 2rem;
}

.Button {
    font-family: inherit;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: none;
    display: inline-block;
}

@media (min-width: 992px) {
  .Button {
    right: .5rem;
  }
}

.Table {
    margin: 5rem;
}

.CurrentEntity {
    font-size: 2rem;
    font-weight: 700;
}

.Clear {
    border-color: lightblue;
    background-color: white;
    color: #2074d4;
}

@media (min-width: 992px) {
    .Clear {
        margin-left: .5rem;
    }
}

@media (max-width: 991px) {
    .Clear {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.Switch {
    background-color: #2074d4;
    color: white;

}

@media (min-width: 992px) {
    .Switch {
        margin-right: .5rem;
    }
}

@media (max-width: 991px) {
    .Switch {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 767px) {
    .button-container {
        width: 90%;

    }
}

.Switch:hover {
  background-color: #1b63b3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Clear:hover {
    background-color: #F5F9FC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.App {
    background-color: #ebebeb;
}

.Banner {
    background-color: #454a63;
    color: white;
}

.Title {

}

.Logo {
    object-fit: contain;
}

.LoginBox {
    background-color: #d0f4fc;
    border: 1px solid #9eeaf9;
    border-radius: 10px;
    color: #085464;
    margin: 1rem;
    padding: 1rem;
}

.LoginText {
    font-weight: lighter;
    border-bottom: 1px solid #9eeaf9;
    padding-bottom: 1rem;
}

.LoginHeader {
    font-size: 2.5rem;
}

.LoginButton {
    background-color: #2074d4;
    font-size: large;
    color: white;
    font-family: inherit;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: none;
    display: inline-block;
    margin-left: 1rem;
}

.LogoutButton {
    background-color: inherit;
    color:white;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

}

.LogoutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoutButton:hover {
    background-color: #d4e6f1;
    color: #454a63;
}


.count {
    margin-left: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .count {
        position: relative;
        top: 2rem;
        text-align: left;
        z-index: 99999999999;
    }
}

@media (max-width: 767px) {
    .count {
        margin-bottom: 2rem;
    }
}

.DatasetTable {
    margin-top: -3rem;
    position: relative;
    bottom: 2rem;
    z-index: 0;
}

.UploadTable {
    margin-top: -3rem;
    position: relative;
    bottom: 2rem;
    z-index: 0;
}


.CustomSpinner {
    text-align: center;
    padding: 5rem;
}

.download-icon:hover {
    background-color: #d4e6f1;
}

.download-icon:active {
    background-color: #2074d4;
}

@media (max-width: 576px) {
    .ant-dropdown {
        overflow-x: auto;
        max-width: 200px;
    }
}

.ant-tooltip {
    z-index: 9999999999;
}

.no-data {
    padding-top: 50px;
}

/*Hide sorter icon unless moused over*/
/*.ant-table th .ant-table-column-sorter-up,*/
/*.ant-table th .ant-table-column-sorter-down {*/
/*  visibility: hidden;*/
/*}*/

/*.ant-table th:hover .ant-table-column-sorter-up,*/
/*.ant-table th:hover .ant-table-column-sorter-down {*/
/*  visibility: visible;*/
/*}*/