version: "3.7"

services:

  data-ingest-board:
    build: data-ingest-board
    # Build the image with name and tag
    # Exit with an error message containing err if unset or empty in the environment
    image: ${CONSORTIUM}/data-ingest-board:${DATA_INGEST_BOARD_VERSION:?err}