# Backend API services, shown for DEV
NEXT_PUBLIC_APP_CONTEXT = 'HuBMAP'
NEXT_PUBLIC_API_BASE = https://ingest-api.dev.hubmapconsortium.org
NEXT_PUBLIC_DATASET_URL = $NEXT_PUBLIC_API_BASE/datasets/data-status
NEXT_PUBLIC_UPLOAD_URL = $NEXT_PUBLIC_API_BASE/uploads/data-status
NEXT_PUBLIC_PRIVS_GROUP_URL = $NEXT_PUBLIC_API_BASE/metadata/usergroups
NEXT_PUBLIC_INGEST_BULK_SUBMIT_URL = $NEXT_PUBLIC_API_BASE/datasets/bulk/submit
NEXT_PUBLIC_PRIVS_ADMIN_URL = $NEXT_PUBLIC_API_BASE/privs/has-data-admin
NEXT_PUBLIC_PRIVS_GROUP_NAME = HuBMAP Read
NEXT_PUBLIC_PRIVS_WRITE_GROUPS = $NEXT_PUBLIC_PRIVS_GROUP_URL

# These need to be set if BULK_EDIT_ENABLED
# NEXT_PUBLIC_INGEST_BULK_EDIT_DATASETS_URL = $NEXT_PUBLIC_API_BASE/datasets
# NEXT_PUBLIC_INGEST_BULK_EDIT_UPLOADS_URL = $NEXT_PUBLIC_API_BASE/uploads

# Public Portal Url
NEXT_PUBLIC_PORTAL_BASE = https://portal.dev.hubmapconsortium.org
NEXT_PUBLIC_PORTAL_VIEW_PATH = /browse/{0}/{1}

# Public Ingest URL
NEXT_PUBLIC_INGEST_BASE = https://ingest.dev.hubmapconsortium.org
NEXT_PUBLIC_INGEST_VIEW_PATH = /{0}/{1}

# Public Entity URL
NEXT_PUBLIC_ENTITY_BASE = https://entity-api.dev.hubmapconsortium.org
# Disabled for now
# NEXT_PUBLIC_REVISIONS_PATH = /entities/{0}/multi-revisions

# Set up theme and colors
NEXT_PUBLIC_THEME = '{"cssProps": {"col-nav-bg": "#454a63", "col-accent": "#C51162"}, "statusColors": {"unpublished": "grey", "published": "#198754", "qa": "#0dcaf0:#000000", "error": "#dc3545", "invalid": "#dc3545", "new": "#6f42c1", "processing": "#6c757d", "submitted": "#0dcaf0:#000000", "hold": "#6c757d", "reopened": "#6f42c1", "reorganized": "#0dcaf0:#000000", "valid": "#198754", "incomplete": "#ffc107:#212529", "default": "#6c757d"}}'
NEXT_PUBLIC_LOCALE = 'en/hubmap'

# Setup UBKG URL and context SAB
NEXT_PUBLIC_UBKG_BASE = https://ontology.api.hubmapconsortium.org

# Required
NEXT_PUBLIC_TABLE_COLUMNS = '{"id": {"field": "hubmap_id", "name": "HuBMAP ID"}, "organ_id": {"field": "organ_hubmap_id", "name": "Organ HuBMAP ID"}, "donor_id": {"field": "donor_hubmap_id", "name": "Donor HuBMAP ID"}, "donor_submission_id": {"name": "Donor Submission ID"}, "donor_lab_id": {"name": "Donor Lab ID"}}'
NEXT_PUBLIC_FILTER_FIELDS = '["uuid", "hubmap_id", "group_name", "status", "title", "organ", "organ_hubmap_id", "dataset_type", "descendants", "provider_experiment_id", "last_touch", "has_contacts", "has_contributors", "donor_hubmap_id", "donor_submission_id", "donor_lab_id", "has_donor_metadata", "upload", "has_rui_info", "has_data", "globus_url"]'
NEXT_PUBLIC_DEFAULT_FILTER_FIELDS = '["group_name", "status", "organ", "dataset_type"]'
NEXT_PUBLIC_EXCLUDE_TABLE_COLUMNS = '["source_type"]'

# Set to 0 to disable 1 to enable
NEXT_PUBLIC_UPLOADS_ENABLED = 1
NEXT_PUBLIC_BULK_EDIT_ENABLED = 0
NEXT_PUBLIC_SEARCH_ENABLED = 1
NEXT_PUBLIC_SEARCH_INDICES = '{"datasets": ["hubmap_id", "dataset_type", "organ", "provider_experiment_id", "group_name"], "uploads": ["hubmap_id", "title","group_name"]}'

# Uncomment to change auto logout defaults (1000 milliseconds results to 1 hour)
# NEXT_PUBLIC_IDLE_TIME = 1000

# NEXT_PUBLIC_COOKIE_DOMAIN = localhost
NEXT_PUBLIC_COOKIE_DOMAIN = .hubmapconsortium.org

NEXT_PUBLIC_GOOGLE_TAG_MANAGER = GTM-58VQTHT9
NEXT_PUBLIC_FAVICON = hubmap-favicon.ico