.ant-dropdown-menu-title-content
  a
    text-decoration none

.ant-dropdown-menu-item.is-active 
  background-color var(--bs-primary)
  span
    color white
  &:hover 
    background-color var(--bs-primary) !important

.ant-btn-more
  .anticon-ellipsis
    vertical-align -.3em