body
  background-color $col-gal-grey !important
  margin-bottom 2rem

.Table
  margin 5rem

.no-data
  padding-top 50px

.lnk--ic
  display inline-flex !important
  align-items center
  text-decoration none
  svg
    margin-left: 0.25rem


td[title="True"]
  color $col-accent
