body
  background-color $col-gal-grey !important
  margin-bottom 2rem
  overflow-x hidden

.Table
  margin 5rem

.no-data
  padding-top 50px

.lnk--ic
  display inline-flex !important
  align-items center
  text-decoration none
  svg
    margin-left: 0.25rem

td[title="True"]
  color $col-accent

.pull-right
  align-right()

.list-scrollable
  max-height 500px
  overflow-y auto

report-navigation-drawer
  display none