body {
  background-color: #ebebeb !important;
  margin-bottom: 2rem;
}

.Table {
  margin: 5rem;
}

.DatasetTable {
  margin-top: -3rem;
  position: relative;
  bottom: 2rem;
  z-index: 0;
}

.no-data {
  padding-top: 50px;
}