// https://chir.ag/projects/name-that-color/

$col-link-water = #d4e6f1
$col-mariner = #2074d4
$col-fun-blue = #1b63b3
$col-charlotte = #9eeaf9
$col-gal-grey = #ebebeb
$col-near-white = #F5F9FC
$col-deep-green = #085464
$col-foam = #d0f4fc
$col-nav-bg = var(--col-nav-bg) //#454a63