.theme
  &--dark
    .ant-tooltip
      code
        font-weight bold
        color white
  &--light
    .ant-tooltip
      code
        font-weight bold
      &-arrow
        --antd-arrow-background-color rgba(255, 255, 255, 0.85)
      &-inner
        padding .7em 1em
        color black !important
        background-color white !important