.txt-sm-light
  font-size 12px !important
  font-family Avenir

.txt-muted-light
  color #929292 !important

.txt-muted-on-dark
  color #d0d0d0

.txt-lnk
  color $col-lnk-blue
  cursor pointer
  &:hover
    color $col-hover-blue

.txt-break-spaces
  white-space break-spaces !important